:root {
  /* Fonts */
  --headingFont: "PT Sans", sans-serif;
  --paragraphFont: "Open Sans", sans-serif;
  /* color pallette */
  --first: #f2e7d9;
  --second: #c9a089;
  --third: #372a1b;
  --forth: #869581;
  --white: #ffff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--first);
}
/* Global */
.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/* Utilities */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.center-text {
  text-align: center;
}

/* Header */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__text {
  text-align: center;
  color: var(--first);
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .barr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__text {
    margin-top: 15rem;
  }
}

.barr {
  padding-top: 4rem;
}

.logo__name {
  color: var(--first);
}
.logo__span {
  color: var(--second);
}

@media (min-width: 768px) {
  .navegation {
    display: flex;
    gap: 2rem;
  }
}

.navegation__link {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--first);
}

@media (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.entry {
  border-bottom: 2px solid var(--second);
  margin-bottom: 2rem;
}

.entry:last-of-type {
  border: none;
  margin-bottom: 0;
}

.blog__title {
  color: var(--third);
}

.botton {
  display: block;
  font-family: var(--headingFont);
  color: var(--white);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .botton {
    display: inline-block;
  }
}
.botton--primary {
  background-color: var(--forth);
}

.botton--secondary {
  background-color: var(--third);
}

.courses {
  list-style: none;
}

.widget-course {
  border-bottom: 2px solid var(--second);
  margin-bottom: 2rem;
}
/* .widget-course:last-of-type {
  border: none;
  margin-bottom: 0;
} */
.widget-courses__label {
  font-family: var(--headingFont);
  font-weight: bold;
}
.widget-course__info {
  font-weight: normal;
}

.widget-courses__label,
.widget-course__info {
  font-size: 2rem;
}

.footer {
  background-color: var(--forth);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/* About Us */

@media (min-width: 768px) {
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
